/*centering navbar*/
.navbar-nav {
  width: 100%;
  text-align: center;
}
.navbar-nav > li {
  float: none;
  display: inline-block;
}

h1, h2 {
	color: #1E5F86;
}

/*body {
	background-image: url("/img/2.jpg");
	background-repeat: no-repeat;

}*/